*{
margin:0;
padding:0;				
font-family:sans-serif;				
				}		
.head{
			background:url("../images/a.jpg");
			height:133px;
			width:360px;
			background-size:360px;
			background-attachment:fixed;
			position:fixed;
				}		
.wave{
				position: absolute;
				width:360px;
				height:139px;
				background:url("../images/wav.jpg");
				animation: animate 5s linear infinite;
				}		
.wave:before{
				content:"";
				position: absolute;
				width:360px;
				height:139px;
				background:url("../images/wav.jpg");
				opacity:.4;
				}	
		
@keyframes animate{
				0%{
						background-position:0;			
								}
				100%{
						background-position:360;			
								}
				}							
.container{
			margin-left:80px;	
				}
.logo{
			margin-top:8px;
			paddig-top:50px;	
      } 
.te{
			margin-left:0px;
			margin-top:-12px;
			font-size:17px	;
			width:200px;		
			letter-spacing:2px;	
				}         
#slided{
			background:url("../images/oh.png");
			height:185px;
			position:fixed;
			width:360px;
			padding-left:40px;
			margin-left:0px;
			z-index:2;
			transition:.5s;
				}
#slided h4{
				margin-top:10px;
				margin-bottom:3px;
				margin-left:48px;
				}							
#slided p{
		  	word-spacing:30px;
  			margin-left:50px;
				}
#slided p a{
				text-decoration:none;
				color:white;	
				}
#menuBtn{			
			position:fixed;
			top:40px;
			left:25px;	
			z-index:2;
			margin-left:10px;
			}	
			
h1{
			margin-left:20px;	
			color:#17bbff;
				}
h4{
			margin-left:20px;
			margin-top:5px;
			letter-spacing	:1px;
				}			
p{
		margin-left:15px;
		margin-top:10px;
		max-width:340px;
		margin-bottom:50px;		
		text-align:justify-content;	
			}
#a{
		margin-left:18px;
		margin-bottom:30px;
				}
#main{
		margin-left:30px;	
				}
#f6{			
		margin-top:2px;
		letter-spacing:0px;
		margin-left:27px;		
				}	
#f6 a{
				text-decoration:none;
				color:black;
				font-size:16px;
				margin-top:-2px;
				margin-left:9px;
				}				
#f7{
			margin-top:-59px;	
			margin-bottom:8px;	
			color:black;
			margin-left:32px;
				}
#f62{			
		margin-top:8px;
		letter-spacing:0px;
		margin-left:45px;
		}




