*{
margin:0;
padding:0;				
font-family:sans-serif;				
				}		
.head{
			background:url("../images/a.jpg");
			height:133px;
			width:360px;
			background-size:360px;
			background-attachment:fixed;
			position:fixed;
				}		
.wave{
				position: absolute;
				width:360px;
				height:139px;
				background:url("../images/wav.jpg");
				animation: animate 5s linear infinite;
				}		
.wave:before{
				content:"";
				position: absolute;
				width:360px;
				height:139px;
				background:url("../images/wav.jpg");
				opacity:.4;
				}	
		
@keyframes animate{
				0%{
						background-position:0;			
								}
				100%{
						background-position:360;			
								}			
				}	
						
.container{
			margin-left:80px;
				}
.logo{
			margin-top:8px;
			paddig-top:50px;	
			margin-left:5px;
      } 
.te{
			margin-left:5px;
			margin-top:-12px;
			font-size:17px	;
			width:200px;		
			letter-spacing:2px;	
				}         
#slided{
			background:url("../images/oh.png");
			height:185px;
			position:fixed;
			width:360px;
			padding-left:40px;
			z-index:2;
			transition:.5s;
				}
#slided h4{
				margin-top:10px;
				margin-bottom:7px;
				margin-left:48px;
				}						
#slided p{
		  	word-spacing:30px;
  			margin-left:50px;
				}
#slided p a{
				text-decoration:none;
				color:white;	
				}
#menuBtn{			
			position:fixed;
			top:40px;
			left:35px;	
			z-index:2;
			}	
			
#himg{
			margin-left:-20px;	
			margin-top:-15px;
				}
			
.cont{
			max-width:300px;
			display:flex;	
				}      		
.slider{
				max-width:100px;
				margin-top:30px;
				margin-left:12px;
				margin-bottom:-20px;
				}      
.slider .card{
				flex:1;
				margin:0 10px;
				width:165px;
				background:#f2f2f2;		
				margin-left:0px;	
							}
.slider .card .img{
				height:150px;
				width:100%;		
				}
.slider .card .img img{
				height:130px;
				width:100%;	
				object-fit:cover;
					}							
.title{
    padding:10px;
    margin-top:-20px;
    font-size:16px;
    }
.subtitle{
    padding:10px;
    margin-top:-10px;
    font-size:11px;
    letter-spacing:0px;
    }   
.btn{
    padding:10px;		
    margin-top:-10px;
					}
button{
   background-color:#17bbff;
			outline:none;
			border:2px solid #17bbff;
    text-color:fff;		
				}					
.s2{
				margin-left:60px;
				}
.s3{
				margin-left:60px;
				margin-bottom:50px;
				}
				
#f6{			
		margin-top:2px;
		letter-spacing:0px;
		margin-left:33px;
				}	
#f6 a{
				text-decoration:none;
				color:black;
				font-size:16px;
				margin-top:-2px;
				margin-left:9px;
				}				
#f7{
			margin-top:-5px;	
			margin-bottom:8px;	
			color:black;
			margin-left:32px;
				}

#f62{			
		margin-top:8px;
		letter-spacing:0px;
		margin-left:45px;
		}
