*{
margin:0;
padding:0;				
font-family:sans-serif;				
				}	

#header{
			background:url("../images/a.jpg");
			height:133px;
			width:360px;
			background-size:360px;
			background-attachment:fixed;
			position:fixed;
				}		
.wave{
				position: absolute;
				width:360px;
				height:139px;
				background:url("../images/wav.jpg");
				animation: animate 5s linear infinite;
				}		
.wave:before{
				content:"";
				position: absolute;
				width:360px;
				height:139px;
				background:url("../images/wav.jpg");
				opacity:.4;
	animation: animate 3s linear infinite;
				}	
		
@keyframes animate{
				0%{
						background-position:0;			
								}
				100%{
						background-position:360;			
								}
				}							
.container{
			margin-left:80px;	
				}
.logo{
			margin-top:8px;
			paddig-top:50px;	
      } 
.te{
			margin-left:0px;
			margin-top:-12px;
			font-size:17px	;
			width:200px;		
			letter-spacing:2px;	
				}         
#slided{
			background:url("../images/a.jpg");
			height:82px;
			position:fixed;
			width:360px;
			top:0px;
			padding-left:40px;
			margin-left:0px;
			z-index:2;
			transition:.5s;
				}
#slided h3{	
				margin-top:20px;
				margin-bottom:10px;
				margin-left:50px;
				}						
#slided p{
		  	word-spacing:30px;
  			margin-left:50px;
				}
#slided p a{
				text-decoration:none;
				color:white;	
				}
#menuBtn{	
			position:fixed;
			top:40px;
			left:30px;	
			z-index:2;
				}
#hd h1{
 			margin-top:56px;
 			margin-left:20px;
 			font-size:25px;
 				}
#picture{
				margin-left:35px;
				margin-top:18px;
				} 				 				
#audio{
				margin-top:-66px;
				margin-left:158px;
				} 	
#video{
				margin-top:5px;
				margin-left:13px;
				} 		
#news{
				margin-top:0px;
				margin-left:15px;
				} 												
#info{
				margin-top:-57px;
				margin-left:165px;
				}  				
p{	
 			margin-top:0px;
 			margin-left:20px;
 			letter-spacing:2px;
 			font-size:15px;
 				}        				     
.tex{
 			margin-top:0px;
 			margin-left:53px;
 			letter-spacing:1px;
 			font-size:10px;
 				}  	
.change{
				margin-left:40px;
				margin-top:20px;
				font-size:20px;			
				} 		
.change_content:after{
				content:'';
				animation:changeimg 6s infinite linear;
				color:#17bbff;
				font-size:30px;
				}

@keyframes changeimg{
				
				0%{content:"Enjoying";}
				37%{content:"Laughing";}
				70%{content:"learning";}  
  }    				
.text{
			margin-left:50px;
			margin-right:0px;
			text-align:left;
			font-size:8px;		
				}					
									
.hm{
				margin-left:40px;
				}		   
.hm a{
				text-decoration:none;
				color:#17bbff;		
				font-size:19px;		
				padding-left:px;
				padding-right:5px;
				letter-spacing:1px;
				font-style:bold;
				}		      
#hh{
			margin-top:-20px;	
			margin-left:30px;	
				}
#homep{
			margin-top:-40px;		
				}			
 				
/*-----about-----*/    

.container{
			margin-left:90px;
			margin-right:px;		
				}
.logo{
			margin-top:8px;
			paddig-top:50px;	
      } 
.te{
			margin-left:0px;
			margin-top:-12px;
			font-size:17px	;
			width:200px;	      
    }  
#about h1{
				margin-top:46px;
				margin-left:20px;
 		  	font-size:25px;
				}      
.text h1{
 			margin-top:56px;
 			margin-left:20px;
 			font-size:25px;
 				}     
.text{
			margin-top:-25px;
 			margin-left:35px;	
 			}
.text p{
			margin-left:-10px;	
			letter-spacing:0px;
			font-size:12px;	
			max-width:310px;
				}				
#list{
				margin-left:35px;
				margin-top:15px;
				font-size:15px;
				}				     
#ab{
			margin-top:0px;		
				}     				
 				
 	      
/*-----contact-----*/ 


#cd h1{
 			margin-top:96px;
 			margin-left:20px;
 			font-size:25px;
 				}     
#cd p{	
 			margin-top:0px;
 			margin-left:20px;
 			letter-spacing:2px;
 			font-size:15px;
 				}             
#dt{
			margin-top:20px;
			margin-left:20px;	
			font-size:20px	;			
				}
#con{
			margin-top:0px;		
				}       
.links{
			margin-top:-20px;	
			margin-left:30px;	
				}       				     
      
/*-----footer-----*/		


 	.footer{
				background:url("../images/footer.png");	
				width:360px;
				}				
#f1{
	 
		margin-left:78px;
		margin-top:-12px;
		font-size:50px;	
				}								
#f2{
	 letter-spacing:2px;
		margin-left:63px;
		margin-top:-10px;
		font-size:18px;	
				}
#f5{
	 letter-spacing:1px;
		margin-left:40px;
		margin-top:0px;
		font-size:20px;	
				}				
#f3{
		margin-left:18px;		
				}
#f4{
		margin-left:63px;		
		font-size:11px;	
		margin-top:-42px;
		letter-spacing:0px;
				}
#f6{
		margin-left:85px;			
		margin-top:2px;
		letter-spacing:0px;
				}	
#f6 a{
				text-decoration:none;
				color:black;
				font-size:18px;
				margin-top:-5px;
				}				
#f7{
			margin-top:-10px;	
			margin-bottom:8px;	
			color:black;
			margin-left:66px;
				}
#f8{
				color: white;
				}
				
#ft{
		letter-spacing:2px;
		margin-left:237px;
		margin-top:-7px;
		font-size:9px;
		margin-bottom:5px;
				}
#lo{
 				align:right;
 				margin-top:-32px;
 				margin-left:293px;
 				}				   		
 					
#new{
			margin-left:30px;	
				}				
#inf{
			margin-left:65px;	
				}				
														
				
				
				
				
				
				
@media only screen and (min-width:768px){	
				
#header{
			background:url("../images/apc.png");
			height:378px;
			width:100%;
			
			background-attachment:fixed;
			position:fixed;
				}			
.wave{
				position: absolute;
				width:100%;
				height:385px;
				background:url("../images/wavpc.png");
				animation: animate 5s linear infinite;
				}		
.wave:before{
				content:"";
				position: absolute;
				width:100%;
				height:385px;
				background:url("../images/wavpc.png");
				opacity:.4;
				animation: animate 3s linear infinite;
				}	
		
@keyframes animate{
				0%{
						background-position:0;			
								}
				100%{
						background-position:990;			
								}
				}											
				
#hd{
				margin-top:430px;
				}	
.container{
			margin-left:240px;	
			margin-top:20px;
				}
.logo{
			margin-top:8px;
			paddig-top:50px;	
			width:90px;
			height:90px;
      } 
.te{
			margin-left:0px;
			margin-top:-12px;
			font-size:50px	;
			width:1800px;		
			letter-spacing:5px;	
				}     
#slided{
			background:url("../images/apc.png");
			height:227px;
			position:fixed;
			width:100%;
			top:0px;
			padding-left:40px;
			margin-left:0px;
			z-index:2;
			transition:.5s;
				}
#slided h3{	
				margin-top:60px;
				margin-bottom:10px;
				margin-left:217px;
				font-size:45px	;
				}						
#slided p{
		  	word-spacing:30px;
  			margin-left:260px;
  			font-size:40px	;
				}
#slided p a{
				text-decoration:none;
				color:white;	
				}
#menuBtn{	
			position:fixed;
			top:110px;
			left:88px;	
			z-index:2;
			width:100px;
			height:100px;
				}
#hd h1{
 			margin-top:56px;
 			margin-left:60px;
 			font-size:60px;
 				}
p{	
 			margin-top:0px;
 			margin-left:60px;
 			letter-spacing:5px;
 			font-size:25px;
 				}  
.tex{
 			margin-top:0px;
 			margin-left:192px;
 			letter-spacing:3px;
 			font-size:23px;
 				}  	
.change{
				margin-left:160px;
				margin-top:70px;
				font-size:50px;			
				} 		
.change_content:after{
				content:'';
				animation:changeimg 6s infinite linear;
				color:#17bbff;
				font-size:70px;
				}

@keyframes changeimg{
				
				0%{content:"Enjoying";}
				37%{content:"Laughing";}
				70%{content:"learning";}  
  }
#main{
				margin-top:60px;
				} 		 				

#main #picture{
				margin-top:30px;
				margin-left:80px;
				width:200px;			
				} 
#main #blog{
				margin-top:15px;
				margin-left:-20px;
				width:250px;			
				} 
#main #video{
				margin-top:-83px;
				margin-left:480px;
				width:200px;			
				}   
#main #audio{
			 margin-top:-155px;
				margin-left:650px;
				width:240px;			
				}  	
#hh{
	margin-top:-78px;		
	margin-left:190px;	
			width:600px;
				}
#news{
			 margin-top:0px;
				margin-left:135px;
				width:260px;							
				}				
#info{
			 margin-top:-137px;
				margin-left:430px;
				width:280px;							
				}						
#homep{
			margin-top:30px;		
			width:100%;
				}			
				
				
	/*-----about-----*/

			
#about h1{
		 margin-top:156px;
 			margin-left:60px;
 			font-size:60px;
				}      
.text h1{
 			margin-top:56px;
 			margin-left:0px;
 			font-size:30px;
 			text-align:center;
 				}     
.text{
			margin-top:-25px;
 			margin-left:0px;	
 			}
.text p{
			margin-left:100px;	
			letter-spacing:0px;
			font-size:22px;	
			max-width:810px;
				}				
#list{
				margin-left:255px;
				margin-top:15px;
				font-size:25px;
				}				     
#ab{
			margin-top:30px;		
			width:100%;	
				}     								
				
					
 	      
/*-----contact-----*/ 


#cd h1{
 			margin-top:156px;
 			margin-left:60px;
 			font-size:60px;
 				}     
#cd p{	
 			margin-top:0px;
 			margin-left:60px;
 			letter-spacing:5px;
 			font-size:25px;
 				}             
#dt{
			margin-top:70px;
			margin-left:90px;	
			font-size:50px	;			
				}
#con{
			margin-top:40px;		
			width:100%;		
				}       
.links{
			display:flex;
			margin-top:0px;	
			margin-left:40px;	
				} 
      
/*-----footer-----*/		


.footer{
				background:url("../images/ftpc.jpg");	
				height:878px;
			 width:100%;
				}				
#f1{
	 text-align:center;
		margin-top:40px;
		font-size:90px;	
		margin-left:-25px;
				}								
#f2{
	 letter-spacing:5px;
		text-align:center;
		margin-top:-10px;
		font-size:23px;	
		margin-left:-5px;
				}
#f5{
		margin-left:-5px;		
	 letter-spacing:3px;
		text-align:center;
		margin-top:0px;
		font-size:25px;	
				}				
#f3{
		margin-left:18px;		
				}
#f4{
		margin-left:63px;		
		font-size:11px;	
		margin-top:-42px;
		letter-spacing:0px;
				}
#f6{
		margin-left:75px;			
		margin-top:20px;
		letter-spacing:0px;
		display:flex;
				}	
#f6 a{
				margin-left:20px;
				text-decoration:none;
				color:black;
				font-size:37px;
				margin-top:-5px;
				style:bold;
				}				
#f7{
			margin-top:-10px;	
			margin-bottom:8px;	
			color:black;
			margin-left:100px;
			width:760px;
				}
#f8{
				color: white;
				}
				
#ft{
		letter-spacing:2px;
		margin-left:767px;
		margin-top:-7px;
		font-size:12px;
		margin-bottom:5px;
				}
#lo{
 				align:right;
 				margin-top:-32px;
 				margin-left:803px;
 				}				   		
#f9{
				margin-left:45px;
				font-size:27px;
				} 									
					
				
				     			
				 				      				  
	}		
